li {
  list-style: none;
}
.App {
  text-align: center;
}
.title {
  font-size: 100px;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
}
.info p {
  font-size: 10px;
  color: #dddddd;
}

.newtodo {
  width: 474px;
  height: 33px;
  border: none;
  padding: 16px 16px 16px 60px;
  font-size: 24px;
}
.checkbox {
  width: 30px;
  height: 30px;
  border-color: #dddddd;
  border-radius: 50%;
}
.todoli {
  width: 550px;
  height: 58px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}
.todovalue {
  background-color: white;
}
.edit {
  
}
.hidden {
  display: none;
}
.destroy {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  background-color: white;
  background-image: url(./cross.svg);
  visibility: hidden;
}
.todoli:hover .destroy {
  visibility: visible;
}